In [5]:
#import libraries
import pandas as pd
import numpy as np
#!conda install -c conda-forge geocoder -y
import geocoder

In [6]:
#Toronto dataset
df = pd.read_csv('toronto.csv')
#drop unnamed column
df.drop('Unnamed: 0', axis = 1, inplace = True)
df.head(5)

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [ ]:
#the API broke so we'll just use a coordinate csv file instead of this code
"""
### retrieve the coordinates of each postal code
for postal_code in df['PostalCode']:
    # initialize the coordinate variable to None
    lat_lng_coords = None

    # loop until we get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = g.latlng

    df['Latitude'][df[df['PostalCode']== postal_code].index.values.astype(int)[0]] = lat_lng_coords[0]
    df['Longitude'][df[df['PostalCode']== postal_code].index.values.astype(int)[0]] = lat_lng_coords[1]
"""

In [7]:
#load coordinate csv file
coor_df = pd.read_csv("Geospatial_Coordinates.csv")
coor_df.head(5)

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [8]:
#merge df and coor_df by postal code
df_main = pd.merge(df, coor_df, on = "PostalCode")
df_main.head(5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [9]:
#write csv file
df_main.to_csv("toronto_with_coordinates.csv")